<div class="col-sm-6">
    <div class="card-body">
        <p class="card-text">Mã giao dịch: <strong>{{id}}</strong></p>
        <p class="card-text">Loại giao dịch: <strong>{{type}}</strong></p>
        {{#if note}}
        <p class="card-text">Ghi chú: <strong>{{note}}</strong></p>
        {{/if}}
        <p class="card-text">Ngày thực hiện: <strong>{{date}}</strong></p>
        <p class="card-text">Tổng số tiền: <strong  id="money">{{value}}</strong></p>
        {{#if creditcard}}
        <p class="card-text">Mã thẻ tín dụng: <strong>{{creditcard}}</strong></p>
        {{/if}}
        <p class="card-text">Trạng thái: <strong>{{status}}</strong></p>
    </div>
    {{#if card}}
    <div>
        <div class="card-body">
            {{#each card}}
            <p class="card-text">Mã thẻ: <strong>{{cardcode}} </strong></p>
            <p class="card-text">Mệnh giá: <strong>{{cardprice}} </strong></p>
            <br>
            {{/each}}
        </div>
    </div>
    {{/if}}
    <div>
        <a href="/" ><div class="btn btn-primary">Quay lại</div></a>
    </div>
</div>